<!doctype html>
<html ng-app="app">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-resource.min.js"></script>
    <script src="/app.js"></script>
</head>
<body ng-controller="usersController">
<div class="container">
    <ul>
        <li ng-repeat="user in users"> ID: {{user.id}} Name: {{user.name}}</li>
    </ul>
    <div>
      <!-- <button ng-click="post()">Post</button> -->
    </div>
</div>
</body>
</html>
